body {
  margin-left: 50px;
  padding:0;
  overflow-x: hidden;
  font-family: 'Montserrat', 'helvetica', sans-serif;
}
canvas {
  margin:auto;
}
input{
  width: 100px !important;
  display: inline !important;
}
@media print {
  .noPrint {
    display: none;
  }
  body{
    margin-left: 0;
  }
}
